.about-me-inner-container {
  display: flex;
  justify-content: space-between;

  .about-me-info {
    display: flex;
    flex-direction: column;
    width: 55%;

    p {
      font-size: 2rem;
      padding-bottom: 10px;
      line-height: 125%;
    }

    h3 {
      font-size: 2rem;
      padding-top: 15px;
    }

    ul {
      font-size: 1.5rem;
      padding: 10px 0px;
      list-style-type: square;
      list-style-position: inside;
      height: 100px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      li {
        padding: 5px 0px;
      }
    }
  }

  .user-avatar {
    width: 30%;
    height: 30%;
  }
}
