@import './mediaQueries.scss';

.about-me-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet800 {
    flex-direction: column-reverse;
  }

  .about-me-info {
    display: flex;
    flex-direction: column;
    width: 55%;

    @include tablet800 {
      width: 100%
    }

    p {
      font-size: 2rem;
      padding-bottom: 10px;
      line-height: 125%;
    }

    h3 {
      font-size: 2rem;
      padding-top: 15px;
      color: rgb(221, 155, 78);
    }

    ul {
      font-size: 1.5rem;
      padding: 10px 0px;
      list-style-type: square;
      list-style-position: inside;
      height: 100px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      li {
        padding: 5px 0px;
      }
    }
  }

  .user-avatar {
    width: auto;
    height: 400px;
    margin: auto;
    border-radius: 25px 0px 25px 0px;
    box-shadow: 2px 2px 3px -1px rgb(49, 49, 49);

    @include desktop1000 {
      margin: 0px 0px;
    }

    @include tablet800 {
      height: 250px;
      margin-bottom: 50px;
    }
  }
}
