@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@import './reset.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: #34252f;
  font-family: Lato;
  overflow-x: hidden;
}

body {
  margin: 0px;
}

// global classes

.section-container {
  display: flex;
  flex-direction: column;
  padding: 150px 0px;
  margin: 0 auto;

  .section-header {
    font-size: 3rem;
    color: green;
  }

  .inner-section-container {
    padding: 50px 0px;
  }
}


hr {
  border: 2px dashed red;
  margin: 10px 0px;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: rgb(54, 54, 54);
	// border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
											  #e4f5fc 0%,
											  #bfe8f9 33%,
											  #9fd8ef 66%,
											  #2ab0ed 100%);
}