@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: #34252f;
  font-family: Lato;
  overflow-x: hidden;
}

body {
  margin: 0px;
}

.content-container {
  width: 80%;
}
