$initialHello: #BCABAE;
$headerName: #D9DBF1;
$underHeading: #EB5E28;
$shortBio: #9F9FAD;
$headerAPI: #716969;

.header-main {
  padding: 200px 0px;
  height: 900px;
  display: flex;
  flex-direction: column;

  .initial-hello {
    font-size: 2.5rem;
    color: $initialHello;
  }

  .header-name {
    font-size: 8rem;
    margin: 0px;
    color: $headerName;
  }

  .under-header {
    font-size: 4rem;
    color: $underHeading;
    padding: 10px 0px;
  }

  .header-api {
    font-size: 1.25rem;
    color: $headerAPI;
    margin-top: 150px;

    a {
      text-decoration: none;
      color: $headerAPI;
      transition: 0.2s;

      &:hover {
        color: $headerName;

      }
    }
  }
}

.about-intro {
  font-size: 2.25rem;
  width: 45%;
  line-height: 150%;
  margin: 25px 0px 30px;
  color: $shortBio;
}

.header-transition {
  transition-delay: 200ms;
}
