@import './mediaQueries.scss';

$initialHello: #bcabae;
$headerName: #d9dbf1;
$underHeading: #eb5e28;
$shortBio: #9f9fad;
$headerAPI: #716969;

.header-main {
  padding: 200px 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .initial-hello {
    font-size: 2.5rem;
    color: $initialHello;

    @include tablet800 {
      font-size: 2rem;
    }
  }

  .header-name {
    font-size: 8rem;
    margin: 0px;
    color: $headerName;

    @include tablet800 {
      font-size: 6rem;
    }

    @include mobile600 {
      max-width: 360px;
    }
  }

  .under-header {
    font-size: 4rem;
    color: $underHeading;
    padding: 10px 0px;

    @include tablet800 {
      font-size: 3rem;
    }
  }

  .header-api {
    font-size: 1.25rem;
    color: $headerAPI;
    margin-top: 150px;

    @include tablet800 {
      font-size: 0.9rem;
    }

    a {
      text-decoration: none;
      color: $headerAPI;
      transition: 0.2s;

      &:hover {
        color: $headerName;
      }
    }
  }
}

.about-intro {
  font-size: 2.25rem;
  width: 48%;
  line-height: 150%;
  margin: 25px 0px 30px;
  color: $shortBio;

  @include desktop1000 {
    width: 70%;
  }

  @include tablet800 {
    font-size: 2rem;
  }

  @include mobile600 {
    width: 90%;
  }
}

.header-transition {
  transition-delay: 200ms;
}
