.header-main {
  padding: 100px 0px;
  height: 600px;

  .initial-hello {
    font-size: 3rem;
  }

  .header-name {
    font-size: 8rem;
    margin: 0px;
  }

  .short-bio {
    font-size: 4rem;
  }
}

.about-intro {
  font-size: 2.25rem;
  width: 45%;
  line-height: 150%;
  margin: 25px 0px 30px;
}

.header-transition {
  transition-delay: 200ms;
}

.header-contact {
  font-size: 2rem;
  text-decoration: none;
  padding: 15px 20px;
  border: 2px solid rgb(0, 0, 161);
  color: rgb(173, 173, 173);
  border-radius: 10px;
  transition: 0.2s;

  &:hover {
    color: rgb(201, 201, 201);
    border-color: rgb(87, 87, 248);
  }
}
