.component-container {
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.mobile-drawer-open {
  transform: translateY(176px);
}

.mobile-container-effect {
  filter: blur(2px);
}
