nav {
  width: 100%;
}

// Desktop Nav CSS
$DesktopNavFont: 2rem;
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;

  .nav-logo {
    user-select: none;
    font-size: $DesktopNavFont;
  }
  .nav-links-desktop {
    display: flex;
    width: 30%;
    justify-content: space-between;
    font-size: $DesktopNavFont;
  }
}

// Mobile nav CSS

.nav-mobile-view {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  background: red;
  transition-duration: 0.4s;
  height: 75px;

  .nav-container-mobile {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    .upper-mobile-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-logo-mobile {
        user-select: none;
        font-size: 2rem;
      }
    }

    .nav-links-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 2rem;
        margin: 10px 0px;
      }
    }
  }
}

.nav-mobile-active {
  height: 300px;
}

// hamburger menu
.hamburger .line {
  width: 30px;
  height: 5px;
  background-color: #00ccff;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger {
  // position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.is-active .line {
  width: 30px;
}

#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}
