.project-section {
    align-items: center;

    .project-container {
        display: flex;
        flex-direction: column;
        padding: 100px 0px;
        width: 75%;
    
        a {
            font-size: 2.5rem;
        }


        .projects-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0px;

            
            .project-info {
                width: 70%;

                p {
                    font-size: 2rem;
                    line-height: 125%;
                }

                ul {

                    display: flex;
                    width: 50%;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    li {
                        font-size: 1.8rem;
                    }
                }
            }

            .image-place {
                background: red;
                height: 200px;
                width: 200px;
            }
        }
    }
}


