.project-section {
    align-items: center;

    .project-container {
        display: flex;
        flex-direction: column;
        padding-top: 100px !important;
        width: 80%;

        &:nth-child(odd) {
            align-items: flex-end;

            .projects-inner {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
            }
        }

        .project-title-links {

            a {
                font-size: 2.75rem;
            }
        }
    

        .projects-inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0px;
            
            .project-info {
                width: 70%;

                .project-description {
                    
                    p {
                        font-size: 2rem;
                        padding-bottom: 10px;
                        line-height: 125%;
                    }
                }


                ul {

                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: space-around;

                    li {
                        font-size: 1.8rem;
                        list-style-type: square;
                        list-style-position: inside;
                    }
                }
            }

            .image-place {
                background: red;
                height: 200px;
                width: 200px;
            }
        }
    }
}


