$nonHoverColor: #fc6471;
$hoverColor: #d1faff;

.navigation {
  position: fixed;
  width: 100%;
  z-index: 2;
  background: #22333b;
  max-width: 1500px;

  .navbar-container {
    margin: 0 auto;
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;

    .top-left-logo {
      text-decoration: none;
      font-size: 1.25rem;
      padding: 10px 15px;
      margin: 0px 10px;
      color: $nonHoverColor;
      transition: 0.2s;
      user-select: none;

      &:hover {
        color: $hoverColor;
      }
    }

    .navigation-links {
      display: inherit;
      padding: 15px 0px;

      div {
        display: inherit;
        font-size: 1.25rem;
        padding: 10px 15px;
        margin: 0px 10px;
        cursor: pointer;
        color: $nonHoverColor;
        transition: 0.2s;

        &:hover {
          color: $hoverColor;
        }

        .active {
          transition: 0.2s;
          color: #a689f5;
        }
      }
    }
  }
}
