.navbar-container {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-end;

  .navigation-links {
    display: inherit;

    div {
      display: inherit;

      a {
        font-size: 1.25rem;
        padding: 25px 0px;
        margin: 0px 25px;
        cursor: pointer;
      }
    }
  }
}
