$footerColors: #5785ac;
$footerHover: #77b6ea;

footer {
  background: rgb(20, 29, 34);
  display: flex;

  .footer-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 1rem;
      color: $footerColors;
      padding: 20px 5px;
      transition: 0.15s;
    }

    .footer-logo {
      color: $footerColors;
      transition: 0.15s;
    }

    &:hover {
      a {
        color: $footerHover;
      }

      .footer-logo {
        color: $footerHover;
      }
    }
  }
}
